:root {
  --primaryColor: #8892bf;
  --secondaryColor: #9ca4c9;
  --penColor: #ffffff;
  --primaryBackground: #9ca4c9;
  --secondaryBackground: #000;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  background-color: var(--primaryBackground);
}

/*fonts*/

@font-face {
  font-family: CustomFontNormal;
  font-display: swap;
  src: url("../fonts/roboto/woff2/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: CustomFontBold;
  font-display: swap;
  src: url("../fonts/roboto/woff2/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/roboto/ttf/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: CustomFontItalic;
  font-display: swap;
  src: url("../fonts/roboto/woff2/Roboto-Italic.woff2") format("woff2"),
    url("../fonts/roboto/woff2/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: CustomFontLight;
  font-display: swap;
  src: url("../fonts/roboto/woff2/Roboto-Light.woff2") format("woff2"),
    url("../fonts/roboto/ttf/Roboto-Light.ttf") format("truetype");
}

/*components*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: CustomFontBold, sans-serif;
  color: var(--penColor);
  word-wrap: break-word;
}

strong {
  font-family: CustomFontBold, sans-serif;
  font-size: 17px;
  color: var(--penColor);
  word-wrap: break-word;
}

label,
p {
  font-family: CustomFontNormal, sans-serif;
  font-size: 17px;
  color: var(--penColor);
  word-wrap: break-word;
}

#comment {
  color: var(--primaryColor);
}

small {
  font-family: CustomFontNormal, sans-serif;
  color: var(--penColor);
  word-wrap: break-word;
}

textarea {
  font-family: CustomFontNormal, sans-serif;
  font-size: 17px;
  color: var(--penColor);
  resize: none;
  max-width: 100%;
}

i {
  font-family: CustomFontItalic, sans-serif;
  font-size: 17px;
  color: var(--penColor);
  word-wrap: break-word;
}

a {
  font-family: CustomFontNormal, sans-serif;
  color: var(--penColor);
  text-decoration: none;
}

a:focus,
a:hover {
  font-family: CustomFontNormal, sans-serif;
  color: var(--penColor);
  text-decoration: none;
  cursor: pointer;
}

#link {
  text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid var(--primaryColor);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--primaryColor);
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.icon {
  color: #ffffff;
}

#errors {
  color: #ff8080 !important;
}

#success {
  color: #009933 !important;
}

/*end:a*/

/*box*/

/*table*/

table {
  width: 100%;
  empty-cells: show;
}

table th {
  font-family: CustomFontBold, sans-serif;
  font-size: 20px;
}

table td {
  font-family: CustomFontNormal, sans-serif;
  font-size: 20px;
  word-wrap: break-word;
}

/*end:table*/

/*boxes*/

#box {
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 5px solid var(--primaryColor);
}

#box-shadow {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(181, 177, 181, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(181, 177, 181, 1);
  box-shadow: 0px 0px 5px 5px rgba(181, 177, 181, 1);
}

/*assets*/

.img-responsive {
  max-width: 100%;
  height: auto;
}

.vid-responsive {
  max-width: 100%;
  height: auto;
}

/*button*/

/*select*/

/*preloader*/

/*ellipsis*/

.ellipsis {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*other components*/
